<div class="slide1">

  <div id="logo" class="shape">
    <img src="assets/images/toolbus.png"/>
  </div>

  <div id="content1">
    <p>Toolbus scans your projects for code achievements</p>
    <p>Go from a junior developer to a senior developer</p>
    <p>Measure what you do know and master what you don't</p>
    {{#link-to 'tools.show' 'ember'}}<img src="assets/images/embernerd.png">{{/link-to}}
    {{#link-to 'tools.show' 'rails'}}<img src="assets/images/railsnerd.png">{{/link-to}}
    {{#link-to 'tools.show' 'ruby'}}<img src="assets/images/rubynerd.png">{{/link-to}}
    {{#link-to 'tools.show' 'python'}}<img src="assets/images/pythonnerd.png">{{/link-to}}
    {{#link-to 'tools.show' 'css'}}<img src="assets/images/cssnerd.png">{{/link-to}}
    {{#link-to 'tools.show' 'js'}}<img src="assets/images/jsnerd.png">{{/link-to}}
    <h1>CHOOSE AN OPTION TO BUILD YOUR MASTERY</h1>
  </div>
</div>

<div class="slide2">
  <div id="content2">
    <h1>INSTALLATION</h1>
    <pre>> gem install toolbus</pre>
    <pre class="inline">cd</pre> to your project's directory
    <pre>> toolbus</pre>
  </div>
</div>

<div class="footer">
  <p> All rights reserved 2015</p>
  <a href="https://www.github.com/JasonBenn">A Project by Jason Benn</a>
</div>